@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-image: url('https://media.licdn.com/dms/image/D4E10AQEAPVFmq2mgvQ/image-shrink_1280/0/1695203044280?e=2147483647&v=beta&t=AGsCeHDBxP0tD7GGhja2HV-0tvMyj2ripaqytaeKH0w'); /* Replace with your image path */
    background-size: cover; /* Ensures the background image covers the entire container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: background-image 0.3s;
}

.dark-mode {
    background-image: linear-gradient(to right, #282c34, #1a1d24); 
    color: #fff;
}

.dark-mode-toggle {
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.dark-mode-toggle label {
    margin-left: 5px;
}

.title-container {
    text-align: center;
    margin-bottom: 2rem;
}

.title-container h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.title-container h3 {
    font-size: 1.2rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 100%;
}

.app-container {
    padding: 1.5rem;
    border-radius: 12px;
    text-align: center;
    width: 100%;
}

.interaction-container {
    margin-bottom: 1.5rem;
    text-align: center;
}

.interaction-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.language-selection {
    margin-left: 1rem;
}

.select-control {
    padding: 0.5rem;
    font-size: 1rem;
}

.text-control {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    color: #333;
}

.text-control:focus {
    outline: none;
    border-color: #0072ff;
    box-shadow: 0 0 0 2px rgba(0, 114, 255, 0.3);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.85rem 1.25rem;
    font-size: 1rem;
    color: #fff;
    background-image: linear-gradient(90deg, #667eea, #764ba2); /* New Gradient for Buttons */
    cursor: pointer;
    transition: background-image 0.3s;
    margin: 0.25rem;
}

.btn:hover {
    background-image: linear-gradient(90deg, #764ba2, #667eea); /* New Hover Gradient */
}

.btn i {
    margin-right: 0.5rem;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#startRecordingBtn, #stopRecordingBtn {
    width: 35%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 0.9rem;
}

.interaction-container h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.language-selection label {
    color: #333; /* Change this to your desired color */
}

/* Change the symbol for the dark mode toggle */
.dark-mode-toggle label::before {
    content: '\f186'; /* Font Awesome icon for sun */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 8px;
}

.dark-mode-toggle input:checked + label::before {
    content: '\f185'; /* Font Awesome icon for moon */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

/* Dark mode styles */
.dark-mode .container {
    background-color: rgba(34, 34, 34, 0.9); /* Dark background for the container */
}

.dark-mode .text-control {
    background-color: #333; /* Dark background for textarea */
    color: #fff; /* White text color for contrast */
    border-color: #555; /* Darker border */
}

.dark-mode .text-control::placeholder {
    color: #aaa; /* Light grey placeholder color */
}

.dark-mode .btn {
    background-image: linear-gradient(90deg, #182848, #4b6cb7); /* Reverse gradient for buttons */
}

.dark-mode .interaction-container h4 {
    color: #fff; /* White text color for headings */
}

.dark-mode .select-control {
    background-color: #333; /* Dark background for select */
    color: #fff; /* White text color for select */
    border-color: #555; /* Darker border */
}

.dark-mode .language-selection label {
    color: #fff; /* White text color in dark mode */
}

.button-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}














